.body {
  height: 100%;
  background-image: url('../images/Background.png');
  background-position: 50% 0px;
  background-size: auto;
  background-repeat: no-repeat;
  font-family: Roboto, sans-serif;
}

.header-logo-holder {
  display: block;
  padding: 65px 50px 35px 100px;
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-color: hsla(0, 0%, 100%, .17);
  background-color: transparent;
}

.content-holder {
  padding: 120px 100px;
}

.heading {
  max-width: 580px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 45px;
  line-height: 55px;
  font-weight: 400;
}

.little-paragraph {
  max-width: 520px;
  margin-bottom: 62px;
  color: #fff;
  font-size: 22.5px;
  line-height: 32px;
  font-weight: 300;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 530px;
}

.text-field {
  height: 55px;
  margin-right: 16px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 25px;
  border-style: none;
  border-radius: 17px;
  box-shadow: 2px 18px 71px 0 rgba(0, 0, 0, .18);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #000;
  font-weight: 300;
}

.text-field:focus {
  border: 1px none #08d7db;
}

.submit-button {
  padding-right: 50px;
  padding-left: 50px;
  border-style: none;
  border-color: #08d7db;
  border-left-width: 1px;
  border-radius: 17px;
  background-color: #fff;
  box-shadow: 2px 18px 71px 0 rgba(0, 0, 0, .18);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #08d7db;
  font-weight: 300;
}

.submit-button:hover {
  background-color: #04dbdf;
  color: #fff;
}

.bottom-text {
  color: #fff;
  font-weight: 400;
}

.footer-section {
  padding: 101px 101px 20px;
}

.footer-text {
  display: inline-block;
  margin-right: 264px;
  color: hsla(0, 0%, 100%, .57);
  font-weight: 300;
}

.link {
  margin-right: 60px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: hsla(0, 0%, 100%, .57);
  font-weight: 300;
  text-decoration: none;
}

.link:hover {
  color: #fff;
}

.div-block {
  display: block;
}

.text-block {
  text-align: left;
}

.success-message {
  max-width: 340px;
  border-radius: 17px;
  background-color: #fff;
}

.error-message {
  height: 40px;
  max-width: 550px;
  padding-left: 20px;
  border-radius: 17px;
  background-color: #ff8862;
}

.text-block-2 {
  color: #fff;
}

html.w-mod-js *[data-ix="heading-animation"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="paragraph-animation"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

@media (max-width: 991px) {
  .header-logo-holder {
    padding-top: 63px;
    padding-left: 65px;
  }
  .content-holder {
    padding-top: 90px;
    padding-left: 65px;
  }
  .bottom-text {
    color: hsla(0, 0%, 100%, .47);
  }
  .footer-section {
    padding-top: 0px;
    padding-left: 65px;
  }
  .footer-text {
    display: none;
    margin-bottom: 20px;
  }
  .link {
    color: #fff;
  }
  .link:hover {
    color: hsla(0, 0%, 100%, .6);
  }
}

@media (max-width: 767px) {
  .body {
    background-image: url('../images/Background.png');
    background-position: 0px 0px;
    background-size: auto;
  }
  .header-logo-holder {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 65px;
    background-color: rgba(0, 0, 0, .8);
  }
  .content-holder {
    padding: 50px 21px 45px 22px;
  }
  .heading {
    max-width: 845px;
    margin-top: 90px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 41px;
    font-weight: 700;
  }
  .little-paragraph {
    margin-bottom: 50px;
    font-size: 18.5px;
    line-height: 27px;
    font-weight: 400;
  }
  .text-field {
    font-size: 16px;
  }
  .submit-button {
    font-size: 16px;
  }
  .bottom-text {
    color: hsla(0, 0%, 100%, .57);
    font-weight: 300;
  }
  .footer-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 22px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);
  }
  .link {
    margin-right: 42px;
    color: #fff;
    text-decoration: none;
  }
  .link:hover {
    color: hsla(0, 0%, 100%, .53);
  }
  .link.last {
    margin-right: 0px;
  }
  .div-block {
    height: 1px;
    margin-top: 40px;
    background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .19), hsla(0, 0%, 100%, .19));
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .19), hsla(0, 0%, 100%, .19));
    color: #fff;
  }
  .div-block.ftr {
    margin-top: 12px;
  }
  .text-block-2 {
    font-size: 13px;
  }
}

@media (max-width: 479px) {
  .body {
    background-image: url('../images/Background.png');
    background-position: 50% 0px;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .header-logo-holder {
    position: fixed;
    z-index: 2;
    overflow: visible;
    padding: 36px 17px 35px;
    background-color: rgba(0, 0, 0, .81);
  }
  .content-holder {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 45px;
  }
  .heading {
    max-width: 500px;
    margin-top: 108px;
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
  }
  .little-paragraph {
    margin-bottom: 50px;
    font-size: 16.5px;
    line-height: 23px;
  }
  .form {
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-field {
    margin-bottom: 17px;
    font-size: 16px;
  }
  .submit-button {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
  }
  .bottom-text {
    padding-right: 0px;
    padding-left: 0px;
    color: hsla(0, 0%, 100%, .6);
  }
  .footer-section {
    position: static;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 21px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
  }
  .link {
    margin-right: 19px;
    color: #fff;
    text-decoration: none;
  }
  .link:hover {
    color: hsla(0, 0%, 100%, .51);
  }
  .link.last {
    margin-right: 0px;
  }
  .image {
    max-width: 100%;
    margin-left: 1px;
    padding-left: 0px;
  }
  .div-block {
    display: none;
    margin-top: 40px;
  }
  .div-block.ftr {
    display: none;
    margin-top: 18px;
  }
  .text-block {
    font-size: 11px;
  }
  .error-message {
    height: 80px;
  }
}

