.table-holder {
  padding: 80px;
}

.holder {
  box-shadow: 0 0 37px 0 rgba(0, 0, 0, .16);
}

.logo-holder {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
}

.content-holder {
  padding: 40px 139px 80px;
}

.paragraph {
  max-width: 480px;
  font-family: Roboto, sans-serif;
  color: #95989a;
  font-size: 20px;
  line-height: 26px;
  font-weight: 100;
}

.image {
  margin-top: 30px;
}

.footer-holder {
  padding: 70px 40px;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #f3f3f3;
  font-family: Roboto, sans-serif;
}

.button-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-right: 40px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  padding-left: 0px;
  font-size: 17px;
}

.heading-2 {
  margin-bottom: 30px;
}

.fb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  max-width: 210px;
  margin-right: 20px;
  padding-right: 36px;
  padding-left: 36px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  background-color: #29487d;
  -webkit-transition: all 392ms ease;
  transition: all 392ms ease;
  color: #fff;
  text-decoration: none;
}

.fb:hover {
  background-color: rgba(41, 72, 125, .7);
}

.fb-text {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}

.image-2 {
  margin-right: 10px;
}

.tw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  max-width: 210px;
  margin-right: 20px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  background-color: #1da1f2;
  -webkit-transition: all 392ms ease;
  transition: all 392ms ease;
  color: #fff;
  text-decoration: none;
}

.tw:hover {
  background-color: rgba(29, 161, 242, .7);
}

.yt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  max-width: 210%;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  background-color: red;
  -webkit-transition: all 392ms ease;
  transition: all 392ms ease;
  color: #fff;
  text-decoration: none;
}

.yt:hover {
  background-color: rgba(255, 0, 0, .5);
}

.footer-paragraph {
  margin-bottom: 50px;
  font-weight: 100;
}

.link {
  color: #0086d1;
  text-decoration: none;
}

.unsubscribe {
  font-weight: 100;
}

.link-3 {
  color: #333;
  text-decoration: none;
}

.footer-logo-holder {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

@media (max-width: 991px) {
  .body {
    height: 100%;
  }
  .table-holder {
    display: block;
    height: 100%;
    padding: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .holder {
    box-shadow: 0 0 50px -1px rgba(0, 0, 0, .19);
  }
  .logo-holder {
    margin-top: 0px;
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 42px;
  }
  .content-holder {
    padding: 0px 120px 80px;
  }
  .paragraph {
    font-family: Roboto, sans-serif;
    color: #95989a;
    font-size: 20px;
    line-height: 27px;
    font-weight: 100;
  }
  .image {
    margin-top: 30px;
  }
  .footer-holder {
    padding: 45px 30px 45px 42px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #f5f5f5;
  }
  .button-holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading {
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
  }
  .heading-2 {
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
  }
  .fb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    max-width: 210px;
    margin-right: 20px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 30px;
    background-color: #29487d;
    -webkit-transition: all 392ms ease;
    transition: all 392ms ease;
    text-decoration: none;
  }
  .fb:hover {
    background-color: rgba(41, 72, 125, .7);
  }
  .fb-text {
    font-family: Roboto, sans-serif;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
  }
  .image-2 {
    margin-right: 10px;
  }
  .tw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    max-width: 210px;
    margin-right: 20px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 30px;
    background-color: #1da1f2;
    -webkit-transition: all 392ms ease;
    transition: all 392ms ease;
    text-decoration: none;
  }
  .tw:hover {
    background-color: rgba(29, 161, 242, .7);
  }
  .tw-text {
    font-family: Roboto, sans-serif;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
  }
  .yt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    max-width: 220px;
    padding-right: 28px;
    padding-left: 28px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, .7);
    -webkit-transition: all 392ms ease;
    transition: all 392ms ease;
    text-decoration: none;
  }
  .yt-text {
    font-family: Roboto, sans-serif;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
  }
  .footer-paragraph {
    margin-top: 20px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 100;
  }
  .link {
    color: #0086d1;
    text-decoration: none;
  }
  .unsubscribe {
    margin-top: 50px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 100;
  }
  .link-3 {
    background-color: transparent;
    -webkit-transition: all 392ms ease;
    transition: all 392ms ease;
    color: #333;
    text-decoration: none;
  }
  .link-3:hover {
    color: #1da1f2;
  }
  .footer-logo-holder {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 42px;
  }
}

@media (max-width: 767px) {
  .table-holder {
    display: block;
    padding: 0px;
  }
  .logo-holder {
    display: block;
    padding-top: 35px;
  }
  .content-holder {
    padding-top: 33px;
    padding-right: 45px;
    padding-left: 45px;
  }
  .paragraph {
    font-weight: 400;
  }
  .footer-holder {
    padding-top: 16px;
  }
  .button-holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .fb {
    height: 50px;
    max-width: 210px;
    margin-right: 10px;
    padding-right: 36px;
    padding-left: 36px;
  }
  .fb-text {
    font-weight: 400;
  }
  .tw {
    height: 50px;
    margin-right: 10px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .tw-text {
    font-weight: 400;
  }
  .yt {
    height: 50px;
    padding-right: 35px;
    padding-left: 35px;
  }
  .yt-text {
    font-weight: 400;
  }
  .footer-paragraph {
    font-weight: 400;
  }
  .unsubscribe {
    font-weight: 400;
  }
  .footer-logo-holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 44px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 479px) {
  .holder {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
  .logo-holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 27px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .content-holder {
    padding: 0px 27px 60px;
  }
  .paragraph {
    font-size: 14px;
    font-weight: 400;
  }
  .image {
    margin-top: 10px;
  }
  .footer-holder {
    padding: 5px 18px 20px;
  }
  .button-holder {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading {
    padding-left: 0px;
    font-size: 13px;
    text-align: center;
  }
  .heading-2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .fb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    max-width: 320px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding-right: 117px;
    padding-left: 117px;
    font-weight: 500;
  }
  .fb-text {
    font-weight: 400;
  }
  .tw {
    height: 50px;
    max-width: 320px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding-right: 123px;
    padding-left: 123px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-weight: 500;
  }
  .tw-text {
    font-weight: 400;
  }
  .yt {
    height: 50px;
    max-width: 310px;
    padding-right: 115px;
    padding-left: 115px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .yt:hover {
    background-color: rgba(255, 0, 0, .43);
  }
  .yt-text {
    font-weight: 400;
  }
  .footer-paragraph {
    margin-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    color: #95989a;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
  }
  .link {
    -webkit-transition: all 375ms ease;
    transition: all 375ms ease;
  }
  .link:hover {
    color: #95989a;
  }
  .unsubscribe {
    margin-top: 30px;
    padding-left: 0px;
    color: #95989a;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
  }
  .link-3 {
    color: #95989a;
    text-decoration: underline;
  }
  .footer-logo-holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

